@page
@model BD_of_the_Insurance_Company.Pages.Risks_.IndexModel

@{
    ViewData["Title"] = "Риски";
}

<h1>Список рисков</h1>

<p>
    <a asp-page="Create">Добавить новый риск</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Risks[0].Risks_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Risks[0].Risks_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Risks[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Risks[0].Average_Probability)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Risks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Risks_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Risks_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Average_Probability)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Внести изменения</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробная информация</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
