@page
@model BD_of_the_Insurance_Company.Pages.Policies_.DeleteModel

@{
    ViewData["Title"] = "Удалить полис";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить данные этого полиса?</h3>
<div>
    <h4>Полис</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Policies.Policies_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Policies.Policies_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Policies.Start_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Policies.Start_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Policies.End_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Policies.End_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Policies.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Policies.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Policies.Payment_amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Policies.Payment_amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Policies.Policy_typeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Policies.Policy_typeID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Policies.Payment_mark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Policies.Payment_mark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Policies.End_mark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Policies.End_mark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Policies.ClientsID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Policies.ClientsID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Policies.StaffID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Policies.StaffID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Policies.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться назад</a>
    </form>
</div>
